openapi: 3.2.0
info:
  title: Eth Zurich Topics API
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
  termsOfService: https://developer.library.ethz.ch/terms
  version: '1.0'
  description: 'Operations tagged Topics across 2 of this provider''s published API definitions: eth-zurich-geo.yaml, eth-zurich-vector.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.library.ethz.ch/geo/v1/
  description: Production
- url: https://api.library.ethz.ch/vector/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Topics
paths:
  /topics:
    get:
      tags:
      - Topics
      description: Returns topics (from e-rara and e-maps) and related resources.
      parameters:
      - name: q
        schema:
          type: string
        in: query
        required: false
        description: 'Returns topics and related resources for the search term (q).


          Example: q=eisenbahn'
      - name: edges
        schema:
          type: boolean
        in: query
        required: false
        description: 'Should the edges/relations to e-maps and e-rara-items also be returned (default: true)?


          Example: edges=false'
      responses:
        '200':
          description: Returns topics as JSON
          content:
            application/json: {}
        '500':
          description: server error
      summary: Get topics
      x-summary-source: derived
      operationId: getTopics
      x-operation-id-source: derived
    servers:
    - url: https://api.library.ethz.ch/geo/v1/
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
x-refined-from:
- eth-zurich-geo.yaml
- eth-zurich-vector.yaml
