openapi: 3.2.0
info:
  title: ETH Research Collection API V2 API
  description: The Research Collection REST API provides access to the bibliographic metadata of the ETH Zurich Research Collection for scientific publications and research data.
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata from this API that are not specifically marked are available for reuse under a Public Domain Dedication (CC0) and may be used, modified and redistributed without prior consent. Documents (including abstracts), images or other digital objects linked or included in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
  version: 0.1.0
servers:
- url: https://api.library.ethz.ch/research-collection/v2
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: ETH Research Collection API V2
paths:
  /:
    get:
      summary: Retrieve API root information
      description: Returns general information about the DSpace instance and available API endpoints.
      responses:
        '200':
          description: Successful response with API root information
          content:
            application/json:
              schema:
                type: object
                properties:
                  dspaceUI:
                    type: string
                  dspaceName:
                    type: string
                  dspaceServer:
                    type: string
                  dspaceVersion:
                    type: string
                  type:
                    type: string
                  _links:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        href:
                          type: string
      tags:
      - ETH Research Collection API V2
      operationId: getRoot
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: See also  DSpace REST API Contract
  url: https://github.com/DSpace/RestContract/blob/dspace-7_x/README.md
