openapi: 3.2.0
info:
  title: Geo Information Dossiers API
  description: 'The Geo Information REST API provides information about points of interest (places), routes and dossiers from the ETHorama database as well as maps from e-rara and e-maps. Place data is available as GeoJSON.


    ➜ OAS 3 Swagger Documentation


    ➜ ETHorama Application'
  version: 1.0.1
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/geo/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Dossiers
paths:
  /dossiers:
    get:
      tags:
      - Dossiers
      description: Returns the dossiers and related resources defined in the ETHorama database.
      parameters:
      - name: q
        schema:
          type: string
        in: query
        required: false
        description: 'Returns dossiers for the search term (q).


          Example: q=bahnen'
      - name: edges
        schema:
          type: boolean
        in: query
        required: false
        description: 'Should the edges/relations to pois, poi-items and e-rara-items also be returned (default: true)?


          Example: edges=false'
      responses:
        '200':
          description: Returns dossiers as JSON
          content:
            application/json: {}
        '500':
          description: server error
      summary: Get dossiers
      x-summary-source: derived
      operationId: getDossiers
      x-operation-id-source: derived
  /dossiers/{id}:
    get:
      tags:
      - Dossiers
      description: Returns a dossier and related resources defined in the ETHorama database.
      parameters:
      - name: id
        schema:
          type: string
        in: path
        required: true
        description: dossier ID
      - name: edges
        schema:
          type: boolean
        in: query
        required: false
        description: 'Should the edges/relations to pois, poi-items and e-rara-items also be returned (default: true)?


          Example: edges=false'
      responses:
        '200':
          description: Returns dossier as JSON
          content:
            application/json: {}
        '400':
          description: bad request
        '500':
          description: server error
      summary: Get dossiers by id
      x-summary-source: derived
      operationId: getDossiersById
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apisdocs.library.ethz.ch/geo/v1/
