openapi: 3.2.0
info:
  title: Research Collection Handle API
  description: 'The Research Collection REST API provides access to the bibliographic metadata of the ETH Zurich Research Collection for scientific publications and research data.


    ➜ OAS 3 Swagger Documentation


    ➜ Research Collection Application


    ➜ Research Collection Terms of use'
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata from this API that are not specifically marked are available for reuse under a Public Domain Dedication (CC0) and may be used, modified and redistributed without prior consent. Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
  version: 1.0.2
servers:
- url: https://api.library.ethz.ch/research-collection/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Handle
paths:
  /handle/{prefix}/{suffix}:
    get:
      tags:
      - Handle
      summary: Retrieve a single object by using object pre- and suffix
      description: Retrieve a single object by using object pre- and suffix.
      operationId: getObject
      parameters:
      - name: prefix
        in: path
        description: The object prefix.
        required: true
        schema:
          type: string
      - name: suffix
        in: path
        description: The object suffix.
        required: true
        schema:
          type: string
      - name: expand
        in: query
        description: Show additional data for the object.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: successful operation
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apidocs.library.ethz.ch/research-collection/v1/
