openapi: 3.0.2
info:
  title: Discovery bitstreams API
  description: "The Discovery REST API provides access to over 30 million books, images, series, journals, and other materials from the ETH Library's Discovery Portal. \n\n&#x279C; [OAS 3 Swagger Documentation](https://eth-library.github.io/apiplatform-swagger/discovery/v1/)\n\n&#x279C; [ETH Library @ swisscovery Application](https://eth.swisscovery.slsp.ch/)"
  version: 1.0.2
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/discovery/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: bitstreams
paths:
  /bitstreams:
    get:
      tags:
      - bitstreams
      summary: Retrieve a list of bitstreams.
      description: Retrieve a list of bitstreams.
      operationId: getBitstreams
      parameters:
      - name: expand
        in: query
        description: Show additional data for the bitstream.
        schema:
          type: string
          enum:
          - all
          - parent
      - name: limit
        in: query
        description: The maximum amount of bitstreams shown.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: The amount of bitstreams to skip.
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
  /bitstreams/{bitstream_id}:
    get:
      tags:
      - bitstreams
      summary: Retrieve a single bitstream by using the internal DSpace bitstream identifier.
      description: Retrieve a single bitstream by using the internal DSpace bitstream identifier.
      operationId: getBitstream
      parameters:
      - name: bitstream_id
        in: path
        description: The identifier of the bitstream.
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        description: Show additional data for the bitstream.
        schema:
          type: string
          enum:
          - all
          - parent
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
  /bitstreams/{bitstream_id}/policy:
    get:
      tags:
      - bitstreams
      summary: Retrieve all policies for all bundles in which the bitstream is present, by using the internal DSpace bitstream identifier.
      description: Retrieve all policies for all bundles in which the bitstream is present, by using the internal DSpace bitstream identifier.
      operationId: getBitstreamPolicies
      parameters:
      - name: bitstream_id
        in: path
        description: The identifier of the bitstream.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: successful operation
  /bitstreams/{bitstream_id}/retrieve:
    get:
      tags:
      - bitstreams
      summary: Retrieve a file by using the corresponding DSpace bitstream identifier.
      description: Retrieve a file by using the corresponding DSpace bitstream identifier.
      operationId: getBitstreamData
      parameters:
      - name: bitstream_id
        in: path
        description: The identifier of the bitstream.
        required: true
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        default:
          description: successful operation
          content: {}
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apidocs.library.ethz.ch/discovery/v1/
