openapi: 3.0.2
info:
  title: Discovery bitstreams List of persons API
  description: "The Discovery REST API provides access to over 30 million books, images, series, journals, and other materials from the ETH Library's Discovery Portal. \n\n&#x279C; [OAS 3 Swagger Documentation](https://eth-library.github.io/apiplatform-swagger/discovery/v1/)\n\n&#x279C; [ETH Library @ swisscovery Application](https://eth.swisscovery.slsp.ch/)"
  version: 1.0.2
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/discovery/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: List of persons
paths:
  /{code}:
    get:
      tags:
      - List of persons
      description: "Provides lists of persons from a specific data resource pool with links to correspondig person pages.\n\nData resource pools and their codes:\n\n| Data resource pool                            | Code        |\n| --------------------------------------------- | ------------|\n| Hochschularchiv (HSA)                         | hsa         |     \n| E-Pics Bildarchiv (BA)                        | ba          |     \n| e-rara                                        | erara       |     \n| Max Frisch-Archiv (MFA)                       | mfa         |  \n| HSA + BA + e-rara + MFA                       | sar         |     \n       "
      parameters:
      - name: code
        schema:
          type: string
        in: path
        required: true
        description: Code of data resource pool
        examples:
          Hochschularchiv:
            value: hsa
      responses:
        '200':
          description: Returns a list of persons
          content:
            application/json: {}
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apidocs.library.ethz.ch/discovery/v1/
