openapi: 3.2.0
info:
  title: Eth Zurich Maps API
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
  termsOfService: https://developer.library.ethz.ch/terms
  version: '1.0'
  description: 'Operations tagged Maps across 2 of this provider''s published API definitions: eth-zurich-geo.yaml, eth-zurich-vector.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.library.ethz.ch/geo/v1/
  description: Production
- url: https://api.library.ethz.ch/vector/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Maps
paths:
  /maps:
    get:
      tags:
      - Maps
      description: Returns maps from e-rara and e-maps.
      parameters:
      - name: lat
        schema:
          type: number
        in: query
        required: false
        description: 'Returns maps from e-rara and e-maps on which the defined point is located.


          Example: lat=47.349952'
      - name: lon
        schema:
          type: number
        in: query
        required: false
        description: 'Returns maps from e-rara and e-maps on which the defined point is located.


          Example: lon=8.490838'
      - name: q
        schema:
          type: string
        in: query
        required: false
        description: 'Returns the data for the search term (q).The parameter "q" is alternative to "lat"/"lon".


          Example: q=kyburg'
      responses:
        '200':
          description: Returns maps as GeoJSON
          content:
            application/json: {}
        '400':
          description: bad request
        '500':
          description: server error
      summary: Get maps
      x-summary-source: derived
      operationId: getMaps
      x-operation-id-source: derived
    servers:
    - url: https://api.library.ethz.ch/geo/v1/
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
x-refined-from:
- eth-zurich-geo.yaml
- eth-zurich-vector.yaml
