openapi: 3.0.2
info:
  title: Discovery bitstreams collections API
  description: "The Discovery REST API provides access to over 30 million books, images, series, journals, and other materials from the ETH Library's Discovery Portal. \n\n&#x279C; [OAS 3 Swagger Documentation](https://eth-library.github.io/apiplatform-swagger/discovery/v1/)\n\n&#x279C; [ETH Library @ swisscovery Application](https://eth.swisscovery.slsp.ch/)"
  version: 1.0.2
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/discovery/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: collections
paths:
  /collections:
    get:
      tags:
      - collections
      summary: Retrieve a list of collections.
      description: Retrieve a list of collections.
      operationId: getCollections
      parameters:
      - name: expand
        in: query
        description: Show additional data for the collection.
        style: form
        explode: true
        schema:
          type: string
          items:
            type: string
          enum:
          - all
          - items
          - parentCommunity
          - parentCommunityList
          - license
          - logo
      - name: limit
        in: query
        description: The maximum amount of collections shown.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: The amount of collections to skip.
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
  /collections/{collection_id}:
    get:
      tags:
      - collections
      summary: Retrieve a single collection by using the internal DSpace collection identifier.
      description: Retrieve a single collection by using the internal DSpace collection identifier.
      operationId: getCollection
      parameters:
      - name: collection_id
        in: path
        description: The identifier of the collection.
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        description: Show additional data for the collection.
        style: form
        explode: true
        schema:
          type: string
          items:
            type: string
          enum:
          - all
          - items
          - parentCommunity
          - parentCommunityList
          - license
          - logo
      - name: limit
        in: query
        description: The maximum amount of collections shown.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: The amount of collections to skip.
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
  /collections/{collection_id}/items:
    get:
      tags:
      - collections
      summary: Retrieve a list of items in a collection by using the internal DSpace collection identifier.
      description: Retrieve a list of items in a collection by using the internal DSpace collection identifier.
      operationId: getCollectionItems
      parameters:
      - name: collection_id
        in: path
        description: The identifier of the collection.
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        description: Show additional data for the items.
        style: form
        explode: true
        schema:
          type: string
          items:
            type: string
          enum:
          - all
          - metadata
          - parentCollection
          - parentCollectionList
          - parentCommunityList
          - bitstreams
      - name: limit
        in: query
        description: The maximum amount of items shown.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: The amount of items to skip.
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apidocs.library.ethz.ch/discovery/v1/
