openapi: 3.2.0
info:
  title: Eth Zurich Items API
  version: '1.0'
  description: 'Operations tagged items across 2 of this provider''s published API definitions: eth-zurich-geo.yaml, eth-zurich-research-collection-v1.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.library.ethz.ch/geo/v1/
  description: Production
- url: https://api.library.ethz.ch/research-collection/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Items
paths:
  /poi-items/{id}:
    get:
      tags:
      - Items
      description: Returns a content item (e-rara, emaps, E-Pics, e-periodica etc) of a poi defined in the ETHorama database.
      parameters:
      - name: id
        schema:
          type: string
        in: path
        required: true
        description: content item ID
      - name: edges
        schema:
          type: boolean
        in: query
        required: false
        description: 'Should the edges/relations to dossiers, routes and pois also be returned (default: true)?


          Example: edges=false'
      responses:
        '200':
          description: Returns content item
          content:
            application/json: {}
        '400':
          description: bad request
        '500':
          description: server error
      summary: Get poi items by id
      x-summary-source: derived
      operationId: getPoiItemsById
      x-operation-id-source: derived
    servers:
    - url: https://api.library.ethz.ch/geo/v1/
      description: Production
  /items:
    get:
      tags:
      - Items
      summary: Retrieve all items from the repository
      description: Retrieve all items from the repository.
      operationId: getItems
      parameters:
      - name: expand
        in: query
        description: Show additional data for the item.
        style: form
        explode: true
        schema:
          type: string
          items:
            type: string
          enum:
          - all
          - metadata
          - parentCollection
          - parentCollectionList
          - parentCommunityList
          - bitstreams
      - name: limit
        in: query
        description: The maximum amount of items shown.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: The amount of items to skip.
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
    servers:
    - url: https://api.library.ethz.ch/research-collection/v1/
      description: Production
  /items/{item_id}:
    get:
      tags:
      - Items
      summary: Retrieve a single item by using the internal DSpace item identifier
      description: Retrieve a single item by using the internal DSpace item identifier.
      operationId: getItem
      parameters:
      - name: item_id
        in: path
        description: The identifier of the item.
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        description: Show additional data for the item.
        style: form
        explode: true
        schema:
          type: string
          items:
            type: string
          enum:
          - all
          - metadata
          - parentCollection
          - parentCollectionList
          - parentCommunityList
          - bitstreams
      responses:
        200:
          description: successful operation
    servers:
    - url: https://api.library.ethz.ch/research-collection/v1/
      description: Production
  /items/{item_id}/bitstreams:
    get:
      tags:
      - Items
      summary: Retrieve a list of bitstreams for an item by using the internal DSpace item…
      description: Retrieve a list of bitstreams for an item by using the internal DSpace item identifier.
      operationId: getItemBitstreams
      parameters:
      - name: item_id
        in: path
        description: The identifier of the item.
        required: true
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The maximum amount of bitstreams shown.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: The amount of bitstreams to skip.
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
    servers:
    - url: https://api.library.ethz.ch/research-collection/v1/
      description: Production
  /items/{item_id}/metadata:
    get:
      tags:
      - Items
      summary: Retrieve a list of metadata for an item by using the internal DSpace item…
      description: Retrieve a list of metadata for an item by using the internal DSpace item identifier.
      operationId: getItemMetadata
      parameters:
      - name: item_id
        in: path
        description: The identifier of the item.
        required: true
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
    servers:
    - url: https://api.library.ethz.ch/research-collection/v1/
      description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
x-refined-from:
- eth-zurich-geo.yaml
- eth-zurich-research-collection-v1.yaml
