openapi: 3.2.0
info:
  title: ETHorama Util API
  description: 'The ETHorama REST API provides georeferenced access to digitized documents from platforms such as E-Pics, E-Rara, E-Periodica, E-manuscripta and Research Collection. Selected content is linked to georeferenced locations on a map.


    ➜ OAS 3 Swagger Documentation


    ➜ ETHorama Application'
  version: 1.0.1
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/ethorama/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Util
paths:
  /util/counters:
    get:
      operationId: UtilController.getCounters
      responses:
        '200':
          content:
            application/json: {}
          description: Successful response
      summary: Get documents count
      tags:
      - Util
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apidocs.library.ethz.ch/ethorama/v1/
