openapi: 3.2.0
info:
  title: ETH Research Collection API V2 Suggestion API
  description: The Research Collection REST API provides access to the bibliographic metadata of the ETH Zurich Research Collection for scientific publications and research data.
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata from this API that are not specifically marked are available for reuse under a Public Domain Dedication (CC0) and may be used, modified and redistributed without prior consent. Documents (including abstracts), images or other digital objects linked or included in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
  version: 0.1.0
servers:
- url: https://api.library.ethz.ch/research-collection/v2
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Suggestion
paths:
  /suggestion/querySuggestions/search/byQuery:
    get:
      summary: Retrieve query suggestions
      description: Returns query suggestions based on user input.
      parameters:
      - name: query
        in: query
        description: Search term for query suggestions.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: size
        in: query
        description: Number of suggestions to return per page.
        required: false
        schema:
          type: integer
          default: 3
      responses:
        '200':
          description: Successful response with query suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  _embedded:
                    type: object
                    properties:
                      queryCategories:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            suggestiontype:
                              type: string
                            _embedded:
                              type: object
                              properties:
                                searchResult:
                                  type: object
                                  properties:
                                    _embedded:
                                      type: object
                                      properties:
                                        suggestions:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              label:
                                                type: string
                                              suggestionName:
                                                type: string
                                              queryParams:
                                                type: array
                                                items:
                                                  type: string
                                              count:
                                                type: integer
                                              type:
                                                type: string
                                              _links:
                                                type: object
                                                properties:
                                                  searchResults:
                                                    type: object
                                                    properties:
                                                      href:
                                                        type: string
        '400':
          description: Bad request (invalid parameters)
        '500':
          description: Internal server error
      tags:
      - Suggestion
      operationId: getSuggestionQuerySuggestionsSearchByQuery
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: See also  DSpace REST API Contract
  url: https://github.com/DSpace/RestContract/blob/dspace-7_x/README.md
