openapi: 3.2.0
info:
  title: Vector Geo Container API
  description: 'The Vector API allows a semantic search in geodata and ETH UDK. It queries a vector database for this purpose.


    ➜ OAS 3 Swagger Documentation'
  version: 1.0.0
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/vector/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Geo Container
paths:
  /geo-container:
    get:
      description: Provides similar POIs, dossiers, historical journeys from ETHorama and places from the catalog
      parameters:
      - name: q
        schema:
          type: string
        in: query
        required: true
        description: 'The string for which similar entities are searched


          q=Gewässerkorrekturen'
      responses:
        '200':
          description: Returns topics
          content:
            application/json: {}
        '500':
          description: server error
      tags:
      - Geo Container
      summary: Get geo container
      x-summary-source: derived
      operationId: getGeoContainer
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apisdocs.library.ethz.ch/vector/v1/
