openapi: 3.2.0
info:
  title: Geo Information Geodata API
  description: 'The Geo Information REST API provides information about points of interest (places), routes and dossiers from the ETHorama database as well as maps from e-rara and e-maps. Place data is available as GeoJSON.


    ➜ OAS 3 Swagger Documentation


    ➜ ETHorama Application'
  version: 1.0.1
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/geo/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Geodata
paths:
  /geo-data:
    get:
      tags:
      - Geodata
      description: 'Returns geodata: pois (from ETHorama), e-rara maps, e-maps, places (Marc 651 from e-rara and e-maps), publication places and provenances from E-Pics.'
      parameters:
      - name: lat
        schema:
          type: number
        in: query
        required: false
        description: 'Returns the pois or places (subject added entry-geographic names from marc 651) that are near a point defined by lat (latitude) and lon (longitude) and optionally dist (distance) in metres (default: 1000).And returns the maps from e-rara and e-maps on which the defined point is located.


          Example: lat=47.349952'
      - name: lon
        schema:
          type: number
        in: query
        required: false
        description: 'Returns the pois or places (subject added entry-geographic names from marc 651) that are near a point defined by lat (latitude) and lon (longitude) and optionally dist (distance) in metres (default: 1000).And returns the maps from e-rara and e-maps on which the defined point is located.


          Example: lon=8.490838'
      - name: dist
        schema:
          type: number
        in: query
        required: false
        description: 'Returns the pois or places (subject added entry-geographic names from marc 651) that are near a point defined by lat (latitude) and lon (longitude) and optionally dist (distance) in metres (default: 1000).And returns the maps from e-rara and e-maps on which the defined point is located.


          Example: dist=1000'
      - name: q
        schema:
          type: string
        in: query
        required: false
        description: 'Returns the data for the search term (q).The parameter "q" is alternative to "lat"/"lon".


          Example: q=kyburg'
      - name: edges
        schema:
          type: boolean
        in: query
        required: false
        description: 'Should edges/relations also be returned (default: true)?


          Example: edges=false'
      responses:
        '200':
          description: Returns geodata as GeoJSON
          content:
            application/json: {}
        '400':
          description: bad request
        '500':
          description: server error
      summary: Get geo data
      x-summary-source: derived
      operationId: getGeoData
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apisdocs.library.ethz.ch/geo/v1/
