openapi: 3.0.2
info:
  title: Discovery bitstreams Poi API
  description: "The Discovery REST API provides access to over 30 million books, images, series, journals, and other materials from the ETH Library's Discovery Portal. \n\n&#x279C; [OAS 3 Swagger Documentation](https://eth-library.github.io/apiplatform-swagger/discovery/v1/)\n\n&#x279C; [ETH Library @ swisscovery Application](https://eth.swisscovery.slsp.ch/)"
  version: 1.0.2
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/discovery/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Poi
paths:
  /pois/{id}:
    get:
      operationId: PoiController.getOne
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json: {}
          description: ''
      summary: Get poi by id
      tags:
      - Poi
  /pois:
    get:
      operationId: PoiController.getAll
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          type: number
      - in: query
        name: pageNr
        required: false
        schema:
          type: number
      - in: query
        name: search
        required: false
        schema:
          type: string
      - in: query
        name: sort
        required: false
        schema:
          type: string
      - in: query
        name: qId
        required: false
        schema:
          type: string
      - in: query
        name: docId
        required: false
        schema:
          type: string
      - in: query
        name: details
        required: false
        schema:
          type: boolean
      - in: query
        name: overview
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json: {}
          description: ''
      summary: Get excerpt of all poi
      tags:
      - Poi
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apidocs.library.ethz.ch/discovery/v1/
