openapi: 3.2.0
info:
  title: Geo Information Poi items API
  description: 'The Geo Information REST API provides information about points of interest (places), routes and dossiers from the ETHorama database as well as maps from e-rara and e-maps. Place data is available as GeoJSON.


    ➜ OAS 3 Swagger Documentation


    ➜ ETHorama Application'
  version: 1.0.1
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/geo/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Poi items
paths:
  /poi-items:
    get:
      tags:
      - Poi items
      description: Returns content items (e-rara, emaps, E-Pics, e-periodica etc) of pois defined in the ETHorama database. The content items are resources of the eth library that are associated with the POI and describe it.
      parameters:
      - name: q
        schema:
          type: string
        in: query
        required: true
        description: 'Returns the content items for the search term (q).


          Example: q=Gotthardtunnel'
      - name: edges
        schema:
          type: boolean
        in: query
        required: false
        description: 'Should the edges/relations to dossiers, routes and pois also be returned (default: true)?


          Example: edges=false'
      responses:
        '200':
          description: Returns content items
          content:
            application/json: {}
        '400':
          description: bad request
        '500':
          description: server error
      summary: Get poi items
      x-summary-source: derived
      operationId: getPoiItems
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apisdocs.library.ethz.ch/geo/v1/
