openapi: 3.0.2
info:
  title: Discovery bitstreams items API
  description: "The Discovery REST API provides access to over 30 million books, images, series, journals, and other materials from the ETH Library's Discovery Portal. \n\n&#x279C; [OAS 3 Swagger Documentation](https://eth-library.github.io/apiplatform-swagger/discovery/v1/)\n\n&#x279C; [ETH Library @ swisscovery Application](https://eth.swisscovery.slsp.ch/)"
  version: 1.0.2
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/discovery/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: items
paths:
  /poi-items/{id}:
    get:
      tags:
      - items
      description: Returns a content item (e-rara, emaps, E-Pics, e-periodica etc) of a poi defined in the ETHorama database.
      parameters:
      - name: id
        schema:
          type: string
        in: path
        required: true
        description: content item ID
      - name: edges
        schema:
          type: boolean
        in: query
        required: false
        description: 'Should the edges/relations to dossiers, routes and pois also be returned (default: true)?


          Example: edges=false'
      responses:
        '200':
          description: Returns content item
          content:
            application/json: {}
        '400':
          description: bad request
        '500':
          description: server error
  /items:
    get:
      tags:
      - items
      summary: Retrieve all items from the repository.
      description: Retrieve all items from the repository.
      operationId: getItems
      parameters:
      - name: expand
        in: query
        description: Show additional data for the item.
        style: form
        explode: true
        schema:
          type: string
          items:
            type: string
          enum:
          - all
          - metadata
          - parentCollection
          - parentCollectionList
          - parentCommunityList
          - bitstreams
      - name: limit
        in: query
        description: The maximum amount of items shown.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: The amount of items to skip.
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
  /items/{item_id}:
    get:
      tags:
      - items
      summary: Retrieve a single item by using the internal DSpace item identifier.
      description: Retrieve a single item by using the internal DSpace item identifier.
      operationId: getItem
      parameters:
      - name: item_id
        in: path
        description: The identifier of the item.
        required: true
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        description: Show additional data for the item.
        style: form
        explode: true
        schema:
          type: string
          items:
            type: string
          enum:
          - all
          - metadata
          - parentCollection
          - parentCollectionList
          - parentCommunityList
          - bitstreams
      responses:
        200:
          description: successful operation
  /items/{item_id}/bitstreams:
    get:
      tags:
      - items
      summary: Retrieve a list of bitstreams for an item by using the internal DSpace item identifier.
      description: Retrieve a list of bitstreams for an item by using the internal DSpace item identifier.
      operationId: getItemBitstreams
      parameters:
      - name: item_id
        in: path
        description: The identifier of the item.
        required: true
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The maximum amount of bitstreams shown.
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: The amount of bitstreams to skip.
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
  /items/{item_id}/metadata:
    get:
      tags:
      - items
      summary: Retrieve a list of metadata for an item by using the internal DSpace item identifier.
      description: Retrieve a list of metadata for an item by using the internal DSpace item identifier.
      operationId: getItemMetadata
      parameters:
      - name: item_id
        in: path
        description: The identifier of the item.
        required: true
        schema:
          type: integer
          format: int32
      - name: userIP
        in: query
        schema:
          type: string
      - name: userAgent
        in: query
        schema:
          type: string
      - name: xforwardedfor
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apidocs.library.ethz.ch/discovery/v1/
