openapi: 3.2.0
info:
  title: Geo Information Contributors API
  description: 'The Geo Information REST API provides information about points of interest (places), routes and dossiers from the ETHorama database as well as maps from e-rara and e-maps. Place data is available as GeoJSON.


    ➜ OAS 3 Swagger Documentation


    ➜ ETHorama Application'
  version: 1.0.1
  termsOfService: https://developer.library.ethz.ch/terms
  contact:
    name: API Management ETH Library
    email: api@library.ethz.ch
    url: https://library.ethz.ch
  license:
    url: https://developer.library.ethz.ch/terms
    name: Bibliographic metadata that are not specifically marked are free for general use (Public Domain). Documents, images or other digital objects linked in metadata may be subject to other copyright restrictions. Whenever possible, the licence of the referenced digital objects is indicated in the metadata. In case of doubt, the licence can be inquired at api@library.ethz.ch.
servers:
- url: https://api.library.ethz.ch/geo/v1/
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Contributors
paths:
  /contributors:
    get:
      tags:
      - Contributors
      description: Returns contributors (from e-rara and e-maps) and related resources.
      parameters:
      - name: q
        schema:
          type: string
        in: query
        required: false
        description: 'Returns contributors and related resources for the search term (q).


          Example: q=Heim, Albert'
      - name: edges
        schema:
          type: boolean
        in: query
        required: false
        description: 'Should the edges/relations to e-maps and e-rara-items also be returned (default: true)?


          Example: edges=false'
      responses:
        '200':
          description: Returns contributors and related resources as JSON
          content:
            application/json: {}
        '500':
          description: server error
      summary: Get contributors
      x-summary-source: derived
      operationId: getContributors
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apikey
externalDocs:
  description: OAS 3 Swagger Documentation
  url: https://apisdocs.library.ethz.ch/geo/v1/
